<mat-vertical-stepper>
  <mat-step>
    <ng-template matStepLabel>Choose your Induction</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose a Trigger</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review Safeties & Warnings</ng-template>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let safety of hypnosisFile.safeties">
        <mat-expansion-panel-header>
          <mat-icon>support</mat-icon>
          {{safety.title}}
        </mat-expansion-panel-header>
        <mat-panel-description>
          <hypnosis-safety [safety]="safety"></hypnosis-safety>
        </mat-panel-description>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-step>
  <mat-step>
    <form [formGroup]="suggestionsFormGroup">
      <ng-template matStepLabel>Select Suggestions</ng-template>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let suggestion of hypnosisFile.suggestions">
          <mat-expansion-panel-header>
            <mat-checkbox
              [formControlName]="suggestion.uuid"
              [disabled]="suggestion.isRequired"
              (click)="$event.stopPropagation()"
            >
              {{suggestion.title}}
            </mat-checkbox>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <hypnosis-suggestion [suggestion]="suggestion"></hypnosis-suggestion>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>


    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure your Waking</ng-template>
  </mat-step>
</mat-vertical-stepper>
