<mat-vertical-stepper>
  <mat-step>
    <ng-template matStepLabel>Choose your Induction</ng-template>
    <hypnosis-search
      *ngIf="hypnosisFile | async as hypnosisFile"
      [forcedFilters]="{
        speaker: $any(hypnosisFile.speaker),
        language: hypnosisFile.language,
        type: 'Induction'
      }"
      (resultsChanged)="inductionResults = $event"
    >
      <hypnosis-select-drag-list [items]="inductionResults" (selectionChanged)="inductions = $event">
        <h2>Induction Selection</h2>
      </hypnosis-select-drag-list>
    </hypnosis-search>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose a Trigger</ng-template>
    <hypnosis-search
      *ngIf="hypnosisFile | async as hypnosisFile"
      [forcedFilters]="{
        speaker: $any(hypnosisFile.speaker),
        language: hypnosisFile.language,
        type: 'trigger'
      }"
      (resultsChanged)="triggerResults = $event"
    >
      <hypnosis-select-list
        [items]="triggerResults"
        [multiple]="false"
        (selectionChanged)="trigger = $event[0]"
      ></hypnosis-select-list>
    </hypnosis-search>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review Safeties & Warnings</ng-template>
    <mat-accordion *ngIf="hypnosisFile | async as hypnosisFile">
      <mat-expansion-panel *ngFor="let safety of hypnosisFile.safeties | fetchAll: 'safety'">
        <mat-expansion-panel-header *ngIf="safety | async as safety; else loadingSafetyTitle">
          <mat-icon>support</mat-icon>
          {{ safety.title }}
        </mat-expansion-panel-header>
        <ng-template #loadingSafetyTitle>
          <mat-expansion-panel-header>
            <mat-icon>support</mat-icon>
            <mat-spinner></mat-spinner>
          </mat-expansion-panel-header>
        </ng-template>
        <mat-panel-description>
          <hypnosis-safety [safety]="safety"></hypnosis-safety>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-step>
  <mat-step>
    <form [formGroup]="suggestionsFormGroup" *ngIf="suggestionsFormGroup | async as suggestionsFormGroup">
      <ng-template matStepLabel>Select Suggestions</ng-template>

      <mat-accordion *ngIf="hypnosisFile | async as hypnosisFile">
        <mat-expansion-panel *ngFor="let suggestion of hypnosisFile.suggestions | fetchAll: 'suggestion'">
          <mat-expansion-panel-header *ngIf="suggestion | async as suggestion">
            <mat-checkbox
              [formControlName]="suggestion.uuid"
              [disabled]="suggestion.isRequired"
              (click)="$event.stopPropagation()"
            >
              {{ suggestion.title }}
            </mat-checkbox>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <hypnosis-suggestion [suggestion]="suggestion"></hypnosis-suggestion>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure your Waking</ng-template>
  </mat-step>
</mat-vertical-stepper>
