<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <h1>Binaural Beat</h1>
    <binaural-beat-config></binaural-beat-config>
    <mat-divider></mat-divider>
    <h1>Background Noise</h1>
    <div>TODO;</div>
  </mat-drawer>
  <mat-drawer-content>
    <hypnosis-file [hypnosisFile]="file"></hypnosis-file>
    <mat-divider></mat-divider>
    <h1>Configure your Hypnosis</h1>
    <hypnosis-configurator [hypnosisFile]="file"></hypnosis-configurator>
    <h2>Play!</h2>

  </mat-drawer-content>
</mat-drawer-container>
