section {
  display: table;
  padding: 4px
}

mat-divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.right-align {
  text-align: right;
}
input.right-align::-webkit-outer-spin-button, input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}
