<mat-card class="mat-elevation-z0 mat-stroked-button" *ngIf="author | async as author; else loading">
  <mat-card-title>
    {{author.additionalName}}
  </mat-card-title>
  <mat-card-subtitle>
    {{author.givenName}} {{author.familyName}}
  </mat-card-subtitle>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip>
        <mat-chip-avatar [ngSwitch]="author.gender">
          <mat-icon *ngSwitchCase="'male'">male</mat-icon>
          <mat-icon *ngSwitchCase="'female'">female</mat-icon>
          <mat-icon *ngSwitchDefault>transgender</mat-icon>
        </mat-chip-avatar>
        {{author.gender.toUpperCase()}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
<ng-template #loading>
  <mat-card>
    <mat-spinner></mat-spinner>
  </mat-card>
</ng-template>
