<div class="vertical" *ngIf="!noOptions; else noOptionsAvailable">
  <mat-button-toggle-group [(ngModel)]="languageValue" (valueChange)="languageChanged.emit(languageValue)">
    <mat-button-toggle
      [disabled]="!index[language][speakerValue]"
      *ngFor="let language of index | keys"
      [value]="language"
      >{{ language | uppercase }}</mat-button-toggle
    >
  </mat-button-toggle-group>

  <mat-button-toggle-group
    [(ngModel)]="speakerValue"
    (valueChange)="speakerChanged.emit({uuid: speakerValue})"
  >
    <mat-button-toggle
      *ngFor="let speaker of speakers | map"
      [disabled]="!index[languageValue][speaker.key]"
      [value]="speaker.key"
    >
      <div *ngIf="speaker.value | async as speaker; else loading">
        {{ speaker?.additionalName || 'deleted author' | titlecase }}
      </div>
      <ng-template #loading>
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          [theme]="{width: '30px', height: '10px', margin: '19px 0 0 0'}"
        ></ngx-skeleton-loader>
      </ng-template>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<ng-template #noOptionsAvailable>
  <h3>There are no audio options</h3>
</ng-template>
