<h1 *ngIf="includeTitle">{{creativeWork.title}}</h1>

<markdown [data]="creativeWork.description"></markdown>

<h3>Available in</h3>
<mat-button-toggle-group [value]="creativeWork.language" disabled>
  <mat-button-toggle [value]="creativeWork.language">{{creativeWork.language.toUpperCase()}}</mat-button-toggle>
  <mat-button-toggle *ngFor="let lang of creativeWork.translatedWorks | keyvalue"
                     [value]="lang.key">{{lang.key.toUpperCase()}}</mat-button-toggle>
</mat-button-toggle-group>
